/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Layout Styles */

body {
  font-size: 1em;
  line-height: 1.5; 
  background: #e7e7e7 url(../assets/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
}

#container {
	background: transparent url(../assets/highlight-bg.jpg) 50% 0 no-repeat;
	min-height: 595px;
}

#inner {
  width: 960px;
  margin: 0 auto;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 52px;
  color: #303030;
  line-height: 1.2;
}

h2, #scores {
  letter-spacing: -1px;
  font-size: 24px;
  color: #777;
  font-weight: normal;
  line-height: 1.3;
}

.description {
  text-align: center;
}

#instructions {
  margin: 0px 60px;
}

#arena {
	margin:auto;
	width:812px;
	height:512px;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
	margin-bottom: 15px;
}

#startScreen {
  width: inherit;
  height: inherit;
  background: #DDDDDD;
  position: absolute;
}

#restartScreen {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,0.8);
  position: absolute;
  display: none;
}

canvas
{
	border:solid thick;
}

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  border: none;
  background: transparent url('../assets/hr.png') 50% 0 no-repeat;
}

p {
	font-weight: 300;
	margin-bottom: 15px;
}

strong {
	font-weight: bold;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

a.button {
  cursor: pointer;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 30px 12px 30px;
  display: block;
  width: 100px;
  margin: 10px auto;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
  padding-left: 50px;
  display: block;
  height: 23px;
}

a.button.controls {
  cursor: default;
  width: 10px;
}

#restart, #start {
  border-top: solid 1px #F08033;
  border-left: solid 1px #F07733;
  border-right: solid 1px #F07733;
  border-bottom: solid 1px #EE7733;
  background: #F08833; /* Old browsers */
  background: -moz-linear-gradient(top,  #F29A33 0%, #EE7733 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F29A33), color-stop(100%,#EE7733)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #F29A33 0%,#EE7733 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #F29A33 0%,#EE7733 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #F29A33 0%,#EE7733 100%); /* IE10+ */
  background: linear-gradient(top,  #F29A33 0%,#EE7733 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F29A33', endColorstr='#EE7733',GradientType=0 ); /* IE6-9 */
  color: white;
  text-shadow: none;
  border: 1px solid #EE7733;
}

#restart:hover, #start:hover {
  border-top: solid 1px #F08033;
  border-left: solid 1px #EE7733;
  border-right: solid 1px #EE7733;
  border-bottom: solid 1px #EE7733;
  background: #F29A33; /* Old browsers */
  background: -moz-linear-gradient(top,  #F29A33 0%, #F08833 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F29A33), color-stop(100%,#F08833)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #F29A33 0%,#F08833 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #F29A33 0%,#F08833 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #F29A33 0%,#F08833 100%); /* IE10+ */
  background: linear-gradient(top,  #F29A33 0%,#F08833 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F29A33', endColorstr='#F08833',GradientType=0 ); /* IE6-9 */
}

#restartWrapper {
  position: relative;
  top:33%;
}

#startWrapper {
  position: relative;
  top:10%;
}

.arenaHeader {
  margin-bottom: 20px;
}

.player {
  float: left;
  width:400px;
  height:230px;
}

.controls.float {
  float: left;
  margin: 0px 10px;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0px 0px 20px #F29A33;
  }
  50% {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 20px #F29A33;
  }
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 20px #F29A33;
  }
  50% {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 20px #F29A33;
  }
}

a.button.fire {
  animation-duration: 3s;
  animation-name: glow;
  animation-iteration-count: infinite;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

.centerRow {
  width:276px;
  height: 50px;
  margin: auto;
}

.controls.down {
  clear: both;
}

#start{
  clear: both;
}